# app stuffs
build/
bin/*
!bin/.gitkeep
rasp/bms

# python stuffs
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv

# mosquitto stuffs
config/mosquitto/data/*
!config/mosquitto/data/.gitkeep
config/mosquitto/log/*
!config/mosquitto/log/.gitkeep

# influxdb stuffs
config/influxdb3/token.json
config/influxdb3/core/data/*
!config/influxdb3/core/data/.gitkeep
config/influxdb3/core/plugins/*
!config/influxdb3/core/plugins/.gitkeep
config/influxdb3/explorer/config/*
!config/influxdb3/explorer/config/.gitkeep
config/influxdb3/explorer/db/*
!config/influxdb3/explorer/db/.gitkeep

# grafana stuffs
config/grafana/data/*
!config/grafana/data/.gitkeep
