services:
  app:
    container_name: bms
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - mosquitto
      - influxdb3
    working_dir: /opt/bms
    entrypoint: ["/opt/bms/entrypoint.sh"]
    volumes:
      - ./bin:/opt/bms/bin:ro
      - ./config:/opt/bms/config:rw
      - ./scripts:/opt/bms/scripts:ro
      - ./entrypoint.sh:/opt/bms/entrypoint.sh:ro
    environment:
      TZ: America/Sao_Paulo

  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - ./config/mosquitto/config:/mosquitto/config
      - ./config/mosquitto/data:/mosquitto/data
      - ./config/mosquitto/log:/mosquitto/log

  influxdb3:
    image: influxdb:3-core
    container_name: influxdb3-core-bms
    restart: unless-stopped
    ports:
      - "8181:8181"
    volumes:
      - ./config/influxdb3/core/data:/var/lib/influxdb3/data
      - ./config/influxdb3/core/plugins:/var/lib/influxdb3/plugins
    command:
      - influxdb3
      - serve
      - --node-id=node0
      - --object-store=file
      - --data-dir=/var/lib/influxdb3/data
      - --plugin-dir=/var/lib/influxdb3/plugins
      - --http-bind=0.0.0.0:8181
    environment:
      LOG_FILTER: debug
